DATABASE_NAME=druplets_db
TEST_DATABASE_NAME=druplets_test_db

DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USERNAME=druplets
DATABASE_PASSWORD=druplets_corperation

REDIS_URL=redis://redis:6379/0

# add local dev values from 1Password: [Hearth] Local dev creds
RAILS_MASTER_KEY=
DEVISE_JWT_SECRET_KEY=

# unused in local dev (localhost defaults)
PUBLIC_APP_URL=
